rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permissive rules for RentX development & production client operations
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
